.search {
	@apply w-80 lg:w-2/4 relative;
}

.search-form {
	@apply flex justify-center items-center bg-gray-50;
}

.search-form > input {
	@apply flex-grow w-full outline-none py-1 px-2 focus:text-black;
}

.search-results {
	@apply flex flex-col absolute z-50 bg-white w-full px-2 shadow-md py-4 border-t border-gray-200 justify-evenly max-h-80 overflow-y-scroll;
}

.search-results > p {
	@apply text-black text-lg;
}

.search-link {
	@apply hover:bg-gray-200 cursor-pointer p-2;
}

.search-results::-webkit-scrollbar {
	@apply w-2 bg-gray-200;
}

.search-results::-webkit-scrollbar-thumb {
	@apply bg-gray-400;
}
